html, body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background-color: grey;
    display: flex;
    flex-direction: row;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin-top: 10px 20px;
    height: 100%;
    padding: 30px;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left; /*  forces text to align left */
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

tr:hover {
    background-color: #f9f9f9;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

td form {
    display: inline;
    margin-left: 5px;
}

a,a:visited, a:hover, a:active {
    text-decoration: none;
    color: #808080;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: white;
  text-align: center;
}

.menu {
    text-align: center;
}

.layout_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}

.text_container {
    flex: 1;
    max-width: 33%;
}


.card_container {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}