html, body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin: 20px 20px 20px 20px;
    width: 90%;
    max-width: 1800px;
    padding: 30px;
    box-sizing: border-box;

}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

tr:hover {
    background-color: #f9f9f9;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

td form {
    display: inline;
    margin-left: 5px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #808080;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: lightgray;
    color: white;
    text-align: center;
}

.menu {
    text-align: center;
}

.headline {
    width: 80%;
    margin: 30px auto;

}

.layout_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    /*max-width: 1200px;*/
    margin: 30px auto;
    gap: 20px;
}

.text_container {
    flex: 1;
    max-width: 33%;
}


.card_container {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* Editor */

#editor-container {
    width: 100%;
    height: 600px;
    border: 2px solid #444;
    background: #fafafa;
    margin-top: 20px;
}

#editor-svg {
    width: 100%;
    height: 100%;
}

#toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#toolbar select,
#toolbar button {
    padding: 8px 14px;
    font-size: 14px;
}

.unit-selected {
    stroke: gold !important;
    stroke-width: 4 !important;
}



/* Chat */
.ai_response {
    margin: 0px 0;
    padding: 5px;
    line-height: 25px;
    background-color: #f1f8e9;
    border-radius: 5px
}

.user_message {
    margin: 0px 0;
    padding: 5px;
    background-color: #e3f2fd;
    border-radius: 5px;
    line-hight: 25px;
}