table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left; /*  forces text to align left */
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

tr:hover {
    background-color: #f9f9f9;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

td form {
    display: inline;
    margin-left: 5px;
}