{% if all_sessions %}
{% for session in all_sessions %}
<div class="session-item {% if latest_session_id|string == session.id|string %}active{% endif %}"
     hx-get="/puzzles/chat/{{ session.id }}"
     hx-target="#chat-container"
     hx-swap="innerHTML"
     hx-on:click="document.getElementById('session_id_input').value = '{{ session.id }}';"
     hx-on::after-request="htmx.trigger('body', 'refreshPuzzle'); htmx.trigger('body', 'refreshSidebar');"
     style="cursor: pointer;">
    <div class="session-topic">{{ session.topic_name }}</div>
    <div class="session-date">{{ session.created_at.strftime('%Y-%m-%d %H:%M') if session.created_at else ''}}</div>
<!--    <div class="session-date">Puzzle ID: {{ session.puzzle_id }}</div>-->
    <!-- delete session -->
    <button hx-delete="/puzzles/chat/{{session.id}}/delete"
            hx-trigger="click consume"
            hx-target="closest .session-item"
            hx-swap="outerHTML"
            hx-on::after-request="htmx.trigger('body', 'refreshSidebar')">
        Delete
    </button>
</div>
{% endfor %}
{% else %}
<p>No sessions yet</p>
{% endif %}