<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Puzzle Generator{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="img/x-icon" href="/static/favicon.ico">
    <script src="/static/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>
<body>
<!--<div class="container">-->
<!--    <header class="menu">-->
<!--        <nav>-->
<!--            <a href="/">Home</a> |-->
<!--            <a href="/puzzles">Puzzles</a> |-->
<!--            <a href="/puzzles/create-puzzle">Create Puzzle</a> |-->
<!--            <a href="/puzzles/generate">Generate Puzzle</a> |-->
<!--            <a href="/puzzles/chat">Chat</a>-->
<!--        </nav>-->
<!--    </header>-->
    <main>
        {% block content %}{% endblock %}
    </main>
<!--</div>-->
</body>
</html>
