{% extends "base.html" %}

{% block title %}Generate Puzzle{% endblock %}

{% block content %}

<div class="chat-layout">

    <!-- Left Sidebar: Sessions List -->

    <div class="sessions-sidebar">

        <h3>Sessions</h3>
        <div id="sessions-list-container"
             class="sessions-list"
             hx-get="/puzzles/chat/sidebar"
             hx-trigger="refreshSidebar from:body"
             hx-swap="innerHTML"
             hx-include="#session_id_input">
            {% include "partials/chat_sidebar_items.html" %}
        </div>
    </div>


    <!-- Chat Container -->
    <div class="chat-main">
        <div id="chat-container">
            Welcome to the council. I'm Rudolfo. I will help to come up with the best puzzles.
        </div>
        <form id="chat-form"
              hx-post="chat"
              hx-target="#chat-container"
              hx-swap="beforeend"
              hx-ext="json-enc"
              hx-reset="true"
              hx-on::after-request="document.getElementById('user-input').value = '';
              htmx.trigger('body', 'refreshPuzzle');
              htmx.trigger('body', 'refreshSidebar');">

            <!--send hidden session id-->
            <input type="hidden" name="session_id" id="session_id_input"
                   value="{{ latest_session_id|string if latest_session_id else '' }}">

            <br><br>
            <textarea type="text" id="user-input" name="content" placeholder="Type your message..." required
                      style="width: 100%; height: 50px; margin: auto; text-align: left"></textarea><br><br>

            <!-- choose Model -->
            <label for="model">Model:</label>
            <select id="model" name="model" required>
                <option value="gpt-5o-mini">GPT 4o mini</option>
                <option value="gpt-4o-mini">GPT 4o mini</option>
                <option value="gpt-4.1-mini">GPT 4.1 mini</option>
                <option value="gemini-3-pro-preview">Gemini 3 pro preview</option>
                <option value="gemini-2.5-flash">Gemini 2.5 Flash</option>
                <option value="gemini-2.5-flash-lite">Gemini 2.5 Flash-Lite</option>
                <option value="gemini-2.0-flash">Gemini 2 Flash</option>
                <option value="gemini-2.0-flash-lite">Gemini 2 Flash-Lite</option>
                <option value="gemini-2.0-flash-exp">Gemini 2.0 Flash-exp</option>
                <option value="gemini-1.5-pro">Gemini 1.5 Pro</option>
                <option value="gemini-1.5-flash">Gemini 1.5 Flash</option>
            </select>
            <button type="submit" id="sendBtn">Send</button>
        </form>
    </div>

    <!-- Puzzle Editor -->
   <div class="puzzle-visualization">
    <div id="editor-integration-container"
         hx-get="/puzzles/chat/editor"
         hx-trigger="load, refreshPuzzle from:body"
         hx-target="this"
         hx-swap="innerHTML"
         hx-include="#session_id_input">
         </div>
</div>
<script src="/static/editor.js" defer></script>

</div>

{% endblock %}