{% extends "base.html" %}

{% block title %}Generate Puzzle{% endblock %}

{% block content %}

<h2>Puzzle Council</h2>
<div id="chat-container">
    Welcome to our council. Together we will help you devise the best puzzles.
    {% if latest_chat %}
    {% for message in latest_chat %}
    <p>{{ latest_chat.id }}
        {% if message.role == "User" %}<span class="user_message"><strong>You:</strong> {{message.content}}</span><br>
        {% else %}<span class="ai_response"><strong>Rudolfo:</strong> {{message.content}}</span></p>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
    <form id="chat-form" hx-post="chat" hx-target="#chat-container" hx-swap="beforeend" hx-ext="json-enc" hx-reset="true">
        <br><br>
        <textarea type="text" id="user-input" name="content" placeholder="Type your message..." required
                  style="width: 80%; height: 150px; margin: auto; text-align: left"></textarea><br><br>
        <!-- choose Model -->
        <label for="model">Model:</label>
        <select id="model" name="model" required>
            <option value="gpt-4o-mini">GPT 4o mini</option>
            <option value="gpt-4.1-mini">GPT 4.1 mini</option>
            <option value="gemini-3-pro-preview">Gemini 3 pro preview</option>
            <option value="gemini-2.5-flash">Gemini 2.5 Flash</option>
            <option value="gemini-2.5-flash-lite">Gemini 2.5 Flash-Lite</option>
            <option value="gemini-2.0-flash">Gemini 2 Flash</option>
            <option value="gemini-2.0-flash-lite">Gemini 2 Flash-Lite</option>
        </select>
        <button type="submit" id="sendBtn">Send</button>
    </form>

{% endblock %}