{% extends "base.html" %}

{% block title %}Create Puzzle{% endblock %}

{% block content %}

<script src="/static/editor.js" defer></script>
<h2>Puzzle Editor</h2>

<!-- Toolbar -->
<div id="toolbar">
    <button id="add-node-btn">Add Node</button>
    <button id="add-edge-btn">Add Edge</button>

    <select id="faction-select">
        <option value="enemy">Enemy</option>
        <option value="player">Player</option>
    </select>
    <button id="place-unit-btn">Place Unit</button>
    <button id="edit-path-btn">Edit Paths</button>

    <select id="unit-type-select"></select>

    <button id="export-btn" type="button">Create Puzzle</button>
</div>

<!-- Editor Canvas -->
<div id="editor-container">
    <svg id="editor-svg"></svg>
</div>
<br>
<form id="editor-form" method="POST" action="/puzzles">
    <label for="name">Puzzle Title:</label>
    <input type="text" name="name" id="name" placeholder="Puzzle Name" required>
    <label for="game_mode">Game Mode:</label>
    <select name="game_mode" id="game_mode" required>
        <option value="">-- Select Game Mode --</option>
        <option value="Skirmish">Skirmish</option>
        <option value="Safe travel">Safe travel</option>
        <option value="Plunder">Plunder</option>
    </select>
    <label for="coins">Coins:</label>
    <input type="number" name="coins" id="coins" placeholder="Coins"><br><br>

    <textarea name="description" id="description" placeholder="Description"></textarea>

</form>

{% endblock %}
