{% extends "base.html" %}

{% block title %}Create Puzzle{% endblock %}

{% block content %}

<div class="headline"><h2>Create a New Puzzle</h2></div>
<div class="layout_container">
    <div class="text_container">
        <form id="puzzle-form">

            <label for="name">Name:</label>
            <input id="name" type="text" name="name" required><br><br>


            <!-- Basic game setup -->
            <label for="game_mode">Game Mode:</label>
            <select name="game_mode" id="game_mode" required>
                <option value="">-- Select Game Mode --</option>
                <option value="Skirmish">Skirmish</option>
                <option value="Safe travel">Safe travel</option>
                <option value="Plunder">Plunder</option>
            </select><br><br>

            <label for="node_count">Node Count:</label>
            <input id="node_count" type="number" name="node_count" required>
            <div id="nodes-container"></div>
            <br><br>

            <label for="edge_count">Edge Count:</label>
            <input id="edge_count" type="number" name="edge_count" required>
            <div id="edges-container"></div>
            <br><br>

            <label for="coins">Max Coins:</label>
            <input id="coins" type="number" name="coins"><br><br>

            <!-- Units details -->
            <label for="enemy_count">Enemy Count:</label>
            <input id="enemy_count" type="number" name="enemy_count" required>
            <div id="enemy-units"></div>
            <br><br>

            <label for="player_unit_count">Player Unit Count:</label>
            <input id="player_unit_count" type="number" name="player_unit_count" required>
            <div id="player-units"></div>
            <br><br>


            <button type="submit">Create Puzzle</button>
            <!-- Text input for LLM to give extra rules/ ideas -->
        </form>
    </div>

    <div id="preview-container">
<!--        <h3>Puzzle Preview</h3>-->
        <div id="puzzle-plot" style="height:600px;"></div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>

{% endblock %}
