{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="headline"><h2>Puzzle Generator</h2></div>
<div class="layout_container">
<div class="text_container">

    <p>lets you create, edit, and visualize tactical puzzle maps with interactive nodes,
        edges, and unit paths.
        Define factions, unit types, and movements to dynamically generate strategic challenges.
        Build, test, and refine your puzzles directly in the browser with full control over layout and logic.</p>
</div>

<div class="card_container">
<div class="actions">
    <a href="/puzzles/create-puzzle" class="btn"><div class="card">Create Puzzle</div></a>
    <a href="/puzzles/generate" class="btn"><div class="card">Generate Puzzle</div></a>
    <a href="/puzzles" class="btn"><div class="card">View All Puzzles</div></a>
    <a href="/puzzles/chat"><div class="card">Chat</div></a>
</div>
</div>
</div>


{% endblock %}