{% extends "base.html" %}

{% block title %}Puzzle Details{% endblock %}

{% block content %}
<h2>Puzzle Details</h2>

<ul>
    <li><strong>Name:</strong> {{ puzzle.name }}</li>
    <li><strong>ID:</strong> {{ puzzle.id }}</li>
    <li><strong>Model:</strong> {{ puzzle.model }}</li>
    <li><strong>Game Mode:</strong> {{ puzzle.game_mode }}</li>
    <li><strong>Enemy Count:</strong> {{ puzzle.enemy_count }}</li>
    <li><strong>Player Unit Count:</strong> {{ puzzle.player_unit_count }}</li>
    <li><strong>Coins:</strong> {{ puzzle.coins }}</li>
    <li><strong>Created At:</strong> {{ puzzle.created_at }}</li>
</ul>

<h3>Related Enemy Units</h3>
{% for unit in puzzle.units %}
<ul>
    {% if unit.faction == "enemy" %}
    <li><strong>Unit:</strong> {{ unit.unit_type }}</li>
    <li><strong>Movement:</strong> {{ unit.movement }}</li>
    {% endif%}
</ul>
{% endfor %}

<h3>Related Player Units</h3>
{% for unit in puzzle.units %}
<ul>
    {% if unit.faction == "player" %}
    <li><strong>Unit:</strong> {{ unit.unit_type }}</li>
    {% endif%}
</ul>
{% endfor %}

<h3>Nodes</h3>
{% for node in puzzle.nodes %}
<ul>
    <li><strong>Index {{ node.node_index }}: </strong> x: {{ node.x_position }}, y: {{ node.y_position }}</li>
</ul>
{% endfor %}

<h3>Edges</h3>
{% for edge in puzzle.edges %}
<ul>
    <li><strong>Index {{ edge.edge_index }}: </strong> start-node: {{ edge.start_node_id }}, end-node: {{ edge.end_node_id }}</li>
</ul>
{% endfor %}


<a href="/puzzles">← Back to list</a>
{% endblock %}
