{% extends "base.html" %}

{% block title %}Puzzle Details{% endblock %}

{% block content %}

<div class="layout_container">
    <div class="text_container">
        <strong>Puzzle Details:</strong><br><br>
        <strong>Name:</strong> {{ puzzle.name }}<br>
        <strong>Is Working:</strong>
        {% if puzzle.is_working == True %} <span style="color: green">Yes</span>
        {% else %}<span style="color: red"> No </span>{% endif %}<br>
        <strong>Model:</strong> {{ puzzle.model }}<br>
        <strong>Game Mode:</strong> {{ puzzle.game_mode }}<br>
        <strong>Enemy Count:</strong> {{ puzzle.enemy_count }}<br>
        <strong>Player Unit Count:</strong> {{ puzzle.player_unit_count }}<br>
        <strong>Coins:</strong> {{ puzzle.coins }}<br>
        <strong>Created At:</strong> {{ puzzle.created_at }} <br>
        {% if puzzle.updated_at %}
        <strong>Last update:</strong> {{ puzzle.updated_at }}
        {% endif %}

        </ul>
    </div>
    <div class="card_container"><strong>Description:</strong>{{ puzzle.description|replace('\r\n', '<br>')|replace('\n', '<br>')|replace('\r', '<br>')|safe }}
    </div>
</div>

<!-- Puzzle Visualization -->
<div class="p-4">
    <h2 class="text-lg font-bold mb-2">Puzzle Visualization</h2>
    <div id="puzzle-visualization-container"
         style="width: 100%; height: 600px; border: 1px solid #ccc; background: #f9f9f9;">
        <svg id="puzzle-visualization-svg" data-puzzle-id="{{ puzzle.id }}" style="width: 100%; height: 100%;"></svg>
    </div>
</div>
<script src="/static/visualize_puzzle.js" defer></script><br>

<button hx-delete="/puzzles/{{ puzzle.id }}/delete"
        hx-trigger="click"
        hx-on::after-request="if(event.detail.xhr.status === 200) window.location.href='/puzzles'">Delete</button>
<a href="/puzzles/{{ puzzle.id }}/update"><button>Edit</button></a>
<br><br>

<a href="/puzzles">← Back to list</a>
{% endblock %}
