{% extends "base.html" %}

{% block title %}Puzzle Details{% endblock %}

{% block content %}
<h2>Puzzle Details</h2>

<ul>
    <li><strong>Name:</strong> {{ puzzle.name }}</li>
    <li><strong>ID:</strong> {{ puzzle.id }}</li>
    <li><strong>Model:</strong> {{ puzzle.model }}</li>
    <li><strong>Game Mode:</strong> {{ puzzle.game_mode }}</li>
    <li><strong>Enemy Count:</strong> {{ puzzle.enemy_count }}</li>
    <li><strong>Player Unit Count:</strong> {{ puzzle.player_unit_count }}</li>
    <li><strong>Coins:</strong> {{ puzzle.coins }}</li>
    <li><strong>Created At:</strong> {{ puzzle.created_at }}</li>
</ul>

<h3>Related Enemy Units</h3>
<ul>
    {% for unit in puzzle.units %}
        {% if unit.faction == "player" %}
            <li>
                <strong>Unit:</strong> {{ unit.unit_type }}
                <ul>
                    {% for path_node in unit.path.path_node | sort(attribute="order_index") %}

                        <li>
                            <strong>PathNode {{ path_node.order_index }}:</strong>
                            {{ path_node.node_index }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Related Player Units</h3>
<ul>
    {% for unit in puzzle.units %}
        {% if unit.faction == "enemy" %}
            <li>
                <strong>Unit:</strong> {{ unit.unit_type }}
                <ul>
                    {% for path_node in unit.path.path_node | sort(attribute="order_index") %}
                        <li>
                            <strong>PathNode {{ path_node.node_index }}:</strong>
                            {{ path_node.order_index }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Nodes</h3>
<ul>
    {% for node in puzzle.nodes | sort(attribute="node_index")%}
    <li><strong>Index {{ node.node_index }}: </strong> x: {{ node.x_position }}, y: {{ node.y_position }}</li>
    {% endfor %}
</ul>


<h3>Edges</h3>
<ul>
{% for edge in puzzle.edges | sort(attribute="edge_index")%}
    <li><strong>Index {{ edge.edge_index }}: </strong> start-node: {{ edge.start_node_id }}, end-node: {{ edge.end_node_id }}</li>
{% endfor %}
</ul>

<!-- Puzzle Visualization -->
<h1>{{ puzzle.name }}</h1>
<div class="p-4">
  <h2 class="text-lg font-bold mb-2">Puzzle Visualization</h2>
  <iframe src="/puzzles/visualization/{{ puzzle.id }}"
          style="width:100%; height:650px; border:none;">
  </iframe>
</div>

<a href="/puzzles">← Back to list</a>
{% endblock %}
