{% extends "base.html" %}

{% block title %}Puzzles{% endblock %}

{% block content %}


<h2>All Puzzles</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Game Mode</th>
        <th>Enemies</th>
        <th>Players</th>
        <th>Works</th>
        <th>Actions</th>
    </tr>
    {% for puzzle in puzzles %}

    <tr>
        <td>{{ puzzle.name }}</td>
        <td>{{ puzzle.model }}</td>
        <td>{{ puzzle.game_mode }}</td>
        <td>{{ puzzle.enemy_count }}</td>
        <td>{{ puzzle.player_unit_count }}</td>
        <td>{{ puzzle.is_working }}</td>
        <td>
            <a href="/puzzles/chat/puzzle/{{ puzzle.id }}">
                <button>Edit</button></a>
<!--            <a href="/puzzles/{{ puzzle.id }}/update">-->
<!--                <button>Edit</button>-->
<!--            </a>-->
            <button hx-delete="{{puzzle.id}}/delete"
                    hx-trigger="click"
                    hx-target="closest tr"
                    hx-swap="outerHTML">
                Delete
            </button>
        </td></a>

        </form>

    </tr>
    {% endfor %}
</table>
{% endblock %}
